Rxvt.font: xft:Bitstream Vera Sans Mono:pixelsize=12
Rxvt.foreground: #c5c8c6 
Rxvt.background: #1d1f21

Rxvt.color0: #1d1f21
Rxvt.color1: #cc6666
Rxvt.color2: #b5bd68
Rxvt.color3: #f0c674
Rxvt.color4: #81a2be
Rxvt.color5: #b294bb
Rxvt.color6: #8abeb7
Rxvt.color7: #c5c8c6
Rxvt.color8: #1d1f21
Rxvt.color9: #cc6666
Rxvt.color10: #b5bd68
Rxvt.color11: #f0c674
Rxvt.color12: #81a2be
Rxvt.color13: #b294bb
Rxvt.color14: #8abeb7
Rxvt.color15: #c5c8c6

Rxvt.fading: 10
